{
  "openapi": "3.0.3",
  "info": {
    "title": "BlitzBoard Public API",
    "version": "1.0.0",
    "description": "Organization-scoped public integration API for seasons, teams, players, and schedules.\nAuthenticate with `Authorization: Bearer bb_live_...` (API key, not a login JWT).\nGenerate keys from Organizations \u2192 organization detail at https://live.blitzboardstats.com/organizations.\nList seasons via GET /v1/blitz-api/seasons and pass `_id` as `season` when creating a team."
  },
  "servers": [
    {
      "url": "https://sandbox.blitzboardstats.com/api",
      "description": "Sandbox"
    }
  ],
  "tags": [
    {
      "name": "Seasons",
      "description": "List seasons to use when creating teams"
    },
    {
      "name": "Teams",
      "description": "Team CRUD scoped to the API key organization"
    },
    {
      "name": "Players",
      "description": "Players under a team"
    },
    {
      "name": "Schedules",
      "description": "Schedule events under a team"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Public integration API key (`bb_live_...`). Not a login JWT."
      }
    },
    "schemas": {
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "API key revoked successfully!"
          }
        },
        "example": {
          "message": "API key revoked successfully!"
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "traceId": {
            "type": "string"
          }
        },
        "example": {
          "error": 40101,
          "message": "Invalid API key",
          "timestamp": "2026-09-13T14:45:41.317Z",
          "traceId": "req_41f0e6c8a5ea232a"
        }
      },
      "CreateTeamRequest": {
        "type": "object",
        "required": [
          "name",
          "footballType",
          "ageGroup"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Falcons U14"
          },
          "footballType": {
            "$ref": "#/components/schemas/FootballType"
          },
          "ageGroup": {
            "$ref": "#/components/schemas/AgeGroup"
          },
          "gender": {
            "$ref": "#/components/schemas/TeamPlayersGender"
          },
          "season": {
            "type": "string",
            "description": "Season Mongo id from GET /v1/blitz-api/seasons",
            "example": "66f0a1b2c3d4e5f678901789"
          },
          "logoUrl": {
            "type": "string",
            "format": "uri"
          },
          "photoUrl": {
            "type": "string",
            "format": "uri"
          },
          "city": {
            "type": "string"
          }
        },
        "example": {
          "name": "Falcons U14",
          "footballType": "flag",
          "ageGroup": "14u",
          "gender": "male",
          "season": "66f0a1b2c3d4e5f678901789"
        }
      },
      "UpdateTeamRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "footballType": {
            "$ref": "#/components/schemas/FootballType"
          },
          "ageGroup": {
            "$ref": "#/components/schemas/AgeGroup"
          },
          "gender": {
            "$ref": "#/components/schemas/TeamPlayersGender"
          },
          "season": {
            "type": "string",
            "description": "Season Mongo id from GET /v1/blitz-api/seasons",
            "example": "66f0a1b2c3d4e5f678901789"
          },
          "logoUrl": {
            "type": "string",
            "format": "uri"
          },
          "city": {
            "type": "string"
          }
        },
        "example": {
          "name": "Falcons U14 Elite"
        }
      },
      "TeamResponse": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "data": {
            "_id": "66f0a1b2c3d4e5f678901234",
            "name": "Falcons U14",
            "footballType": "flag",
            "ageGroup": "14u",
            "gender": "male",
            "isArchived": false,
            "logoUrl": "https://cdn.example.com/logos/falcons.png",
            "organizationId": "66f0a1b2c3d4e5f678901111",
            "createdAt": "2026-09-01T12:00:00.000Z"
          }
        },
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "_id": "66f0a1b2c3d4e5f678901234",
              "name": "Falcons U14",
              "footballType": "flag",
              "ageGroup": "14u",
              "gender": "male",
              "isArchived": false,
              "logoUrl": "https://cdn.example.com/logos/falcons.png",
              "organizationId": "66f0a1b2c3d4e5f678901111",
              "createdAt": "2026-09-01T12:00:00.000Z"
            }
          }
        }
      },
      "TeamsListResponse": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "data": [
            {
              "_id": "66f0a1b2c3d4e5f678901234",
              "name": "Falcons U14",
              "footballType": "flag",
              "ageGroup": "14u",
              "gender": "male",
              "isArchived": false,
              "logoUrl": "https://cdn.example.com/logos/falcons.png",
              "organizationId": "66f0a1b2c3d4e5f678901111",
              "createdAt": "2026-09-01T12:00:00.000Z"
            }
          ],
          "total": 1
        },
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "example": [
              {
                "_id": "66f0a1b2c3d4e5f678901234",
                "name": "Falcons U14",
                "footballType": "flag",
                "ageGroup": "14u",
                "gender": "male",
                "isArchived": false,
                "logoUrl": "https://cdn.example.com/logos/falcons.png",
                "organizationId": "66f0a1b2c3d4e5f678901111",
                "createdAt": "2026-09-01T12:00:00.000Z"
              }
            ]
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "CreatePlayerRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Alex Johnson"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "position": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "QUARTERBACK"
            ]
          }
        },
        "additionalProperties": true,
        "example": {
          "name": "Alex Johnson",
          "email": "alex@example.com",
          "position": [
            "QUARTERBACK"
          ],
          "jerseyNumber": "10"
        }
      },
      "UpdatePlayerRequest": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "name": "Alex J.",
          "jerseyNumber": "12"
        }
      },
      "PlayersListResponse": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "data": [
            {
              "_id": "66f0a1b2c3d4e5f678901345",
              "name": "Alex Johnson",
              "email": "alex@example.com",
              "position": [
                "QUARTERBACK"
              ],
              "jerseyNumber": "10",
              "profilePicture": "https://cdn.example.com/players/alex.jpg"
            }
          ],
          "total": 1
        },
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "example": [
              {
                "_id": "66f0a1b2c3d4e5f678901345",
                "name": "Alex Johnson",
                "email": "alex@example.com",
                "position": [
                  "QUARTERBACK"
                ],
                "jerseyNumber": "10",
                "profilePicture": "https://cdn.example.com/players/alex.jpg"
              }
            ]
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "PlayerResponse": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "data": {
            "_id": "66f0a1b2c3d4e5f678901345",
            "name": "Alex Johnson",
            "email": "alex@example.com",
            "position": [
              "QUARTERBACK"
            ],
            "jerseyNumber": "10",
            "profilePicture": "https://cdn.example.com/players/alex.jpg"
          }
        },
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true,
            "example": {
              "_id": "66f0a1b2c3d4e5f678901345",
              "name": "Alex Johnson",
              "email": "alex@example.com",
              "position": [
                "QUARTERBACK"
              ],
              "jerseyNumber": "10",
              "profilePicture": "https://cdn.example.com/players/alex.jpg"
            }
          }
        }
      },
      "CreateScheduleRequest": {
        "type": "object",
        "description": "WARNING: If you do not provide a value for a format field on create, we set a default on our side (eventType=game, duration=30, matchupFormat=halves, teamFormat=7v7, booleans false, overtimeType=unlimited, endDate=startDate+duration). You must still send teamId, startDate, and teamTwoName. If you send a value, we use yours.",
        "required": [
          "teamId",
          "startDate",
          "teamTwoName"
        ],
        "properties": {
          "teamId": {
            "type": "string",
            "description": "Team that owns this schedule. You must send this.",
            "example": "6917707a0e8f6ee5171235c2"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "game",
              "practice"
            ],
            "description": "If you do not provide this field, we set `game` on our side.",
            "example": "game"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "description": "When the event starts. You must send this.",
            "example": "2026-09-17T21:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "description": "If you do not provide this field, we set startDate + duration minutes on our side.",
            "example": "2026-09-17T21:30:00.000Z"
          },
          "teamTwoName": {
            "type": "string",
            "description": "Opponent display name. You must send this for a typical game.",
            "example": "Long Island University"
          },
          "duration": {
            "type": "integer",
            "enum": [
              20,
              24,
              30,
              40,
              48,
              50,
              60
            ],
            "description": "If you do not provide this field, we set `30` on our side.",
            "example": 30
          },
          "matchupFormat": {
            "type": "string",
            "enum": [
              "halves",
              "quarters",
              "runningClock"
            ],
            "description": "If you do not provide this field, we set `halves` on our side.",
            "example": "halves"
          },
          "teamFormat": {
            "type": "string",
            "enum": [
              "4v4",
              "5v5",
              "6v6",
              "7v7",
              "8v8",
              "9v9",
              "11v11"
            ],
            "description": "If you do not provide this field, we set `7v7` on our side.",
            "example": "7v7"
          },
          "isTestGame": {
            "type": "boolean",
            "description": "If you do not provide this field, we set `false` on our side.",
            "example": false
          },
          "fieldSizeInYard": {
            "type": "integer",
            "enum": [
              30,
              40,
              45,
              50,
              60,
              64,
              70,
              80,
              100
            ],
            "description": "Send when enableYardage is true. If enableYardage is true and you do not provide this field, we set `50` on our side.",
            "example": 50
          },
          "enableYardage": {
            "type": "boolean",
            "description": "If you do not provide this field, we set `false` on our side.",
            "example": false
          },
          "isScrimmage": {
            "type": "boolean",
            "description": "If you do not provide this field, we set `false` on our side.",
            "example": false
          },
          "allowZeroYardStart": {
            "type": "boolean",
            "description": "If you do not provide this field, we set `false` on our side.",
            "example": false
          },
          "overtimeType": {
            "type": "string",
            "enum": [
              "limited",
              "unlimited"
            ],
            "description": "If you do not provide this field, we set `unlimited` on our side.",
            "example": "unlimited"
          },
          "overtimeDuration": {
            "type": "number",
            "description": "Send when overtimeType is limited (minutes). We do not invent a limited overtime length.",
            "minimum": 1,
            "example": 5
          },
          "practiceNote": {
            "type": "string"
          },
          "locationName": {
            "type": "string"
          },
          "placeId": {
            "type": "string"
          },
          "tournamentId": {
            "type": "string"
          }
        },
        "example": {
          "teamId": "6917707a0e8f6ee5171235c2",
          "startDate": "2026-09-17T21:00:00.000Z",
          "teamTwoName": "Long Island University"
        }
      },
      "UpdateScheduleRequest": {
        "type": "object",
        "required": [
          "teamId"
        ],
        "properties": {
          "teamId": {
            "type": "string",
            "description": "Team that owns the schedule (required)",
            "example": "6917707a0e8f6ee5171235c2"
          },
          "eventTitle": {
            "type": "string",
            "example": "anim iure nam tempor"
          },
          "eventType": {
            "type": "string",
            "enum": [
              "game",
              "practice"
            ],
            "example": "game"
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-17T21:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "example": "2026-09-17T21:51:00.000Z"
          },
          "teamTwoName": {
            "type": "string",
            "example": "mona hurley"
          },
          "duration": {
            "type": "integer",
            "enum": [
              20,
              24,
              30,
              40,
              48,
              50,
              60
            ],
            "example": 50
          },
          "matchupFormat": {
            "type": "string",
            "enum": [
              "halves",
              "quarters",
              "runningClock"
            ],
            "example": "quarters"
          },
          "teamFormat": {
            "type": "string",
            "enum": [
              "4v4",
              "5v5",
              "6v6",
              "7v7",
              "8v8",
              "9v9",
              "11v11"
            ],
            "example": "7v7"
          },
          "practiceNote": {
            "type": "string",
            "example": "n,mn,mn"
          },
          "isTestGame": {
            "type": "boolean",
            "example": false
          },
          "fieldSizeInYard": {
            "type": "integer",
            "enum": [
              30,
              40,
              45,
              50,
              60,
              64,
              70,
              80,
              100
            ],
            "example": 60
          },
          "enableYardage": {
            "type": "boolean",
            "example": true
          },
          "isScrimmage": {
            "type": "boolean",
            "example": true
          },
          "allowZeroYardStart": {
            "type": "boolean",
            "example": false
          },
          "overtimeType": {
            "type": "string",
            "enum": [
              "limited",
              "unlimited"
            ],
            "example": "limited"
          },
          "overtimeDuration": {
            "type": "number",
            "minimum": 1,
            "example": 5
          }
        },
        "example": {
          "eventTitle": "anim iure nam tempor",
          "eventType": "game",
          "startDate": "2026-09-17T21:00:00.000Z",
          "endDate": "2026-09-17T21:51:00.000Z",
          "teamTwoName": "mona hurley",
          "duration": 50,
          "matchupFormat": "quarters",
          "teamFormat": "7v7",
          "practiceNote": "n,mn,mn",
          "isTestGame": false,
          "fieldSizeInYard": 60,
          "enableYardage": true,
          "isScrimmage": true,
          "allowZeroYardStart": false,
          "overtimeType": "limited",
          "overtimeDuration": 5,
          "teamId": "6917707a0e8f6ee5171235c2"
        }
      },
      "ScheduleResponse": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "_id": "66f0a1b2c3d4e5f678901456",
          "eventType": "GAME",
          "eventTitle": "Falcons vs Guest Team",
          "startDate": "2026-10-01",
          "endDate": "2026-10-01",
          "teamId": "66f0a1b2c3d4e5f678901234",
          "teamTwoName": "Guest Team",
          "createdAt": "2026-09-13T18:00:00.000Z"
        }
      },
      "SchedulesListResponse": {
        "type": "object",
        "additionalProperties": true,
        "example": {
          "data": [
            {
              "_id": "66f0a1b2c3d4e5f678901456",
              "eventType": "GAME",
              "eventTitle": "Falcons vs Guest Team",
              "startDate": "2026-10-01",
              "endDate": "2026-10-01",
              "teamId": "66f0a1b2c3d4e5f678901234",
              "teamTwoName": "Guest Team",
              "createdAt": "2026-09-13T18:00:00.000Z"
            }
          ],
          "total": 1
        },
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "example": [
              {
                "_id": "66f0a1b2c3d4e5f678901456",
                "eventType": "GAME",
                "eventTitle": "Falcons vs Guest Team",
                "startDate": "2026-10-01",
                "endDate": "2026-10-01",
                "teamId": "66f0a1b2c3d4e5f678901234",
                "teamTwoName": "Guest Team",
                "createdAt": "2026-09-13T18:00:00.000Z"
              }
            ]
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        }
      },
      "SeasonItem": {
        "type": "object",
        "required": [
          "_id",
          "year",
          "season"
        ],
        "properties": {
          "_id": {
            "type": "string",
            "example": "66f0a1b2c3d4e5f678901789"
          },
          "year": {
            "type": "integer",
            "example": 2026
          },
          "season": {
            "type": "string",
            "enum": [
              "spring",
              "summer",
              "fall",
              "winter"
            ],
            "example": "fall"
          }
        },
        "example": {
          "_id": "66f0a1b2c3d4e5f678901789",
          "year": 2026,
          "season": "fall"
        }
      },
      "SeasonsListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeasonItem"
            }
          }
        },
        "example": {
          "data": [
            {
              "_id": "66f0a1b2c3d4e5f678901789",
              "year": 2026,
              "season": "fall"
            }
          ]
        }
      },
      "AgeGroup": {
        "type": "string",
        "description": "Team age group",
        "enum": [
          "6u",
          "7u",
          "8u",
          "9u",
          "10u",
          "11u",
          "12u",
          "13u",
          "14u",
          "15u",
          "16u",
          "17u",
          "18u",
          "jv",
          "varsity",
          "college_club",
          "college_naia",
          "college_ncaa_d3",
          "college_ncaa_d2",
          "college_ncaa_d1",
          "14_elite",
          "professional",
          "adult_recreation"
        ],
        "example": "14u"
      },
      "FootballType": {
        "type": "string",
        "description": "Type of football",
        "enum": [
          "flag",
          "tackle"
        ],
        "example": "flag"
      },
      "TeamPlayersGender": {
        "type": "string",
        "description": "Team players gender",
        "enum": [
          "male",
          "female",
          "co_educational",
          "other"
        ],
        "example": "male"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Outside API key organization scope or insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyBearer": []
    }
  ],
  "paths": {
    "/v1/blitz-api/teams": {
      "get": {
        "operationId": "listTeams",
        "tags": [
          "Teams"
        ],
        "summary": "List teams",
        "description": "List teams for the organization bound to the API key. organizationId is injected from the key.",
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Teams listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamsListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": [
                        {
                          "_id": "66f0a1b2c3d4e5f678901234",
                          "name": "Falcons U14",
                          "footballType": "flag",
                          "ageGroup": "14u",
                          "gender": "male",
                          "isArchived": false,
                          "logoUrl": "https://cdn.example.com/logos/falcons.png",
                          "organizationId": "66f0a1b2c3d4e5f678901111",
                          "createdAt": "2026-09-01T12:00:00.000Z"
                        }
                      ],
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "tags": [
          "Teams"
        ],
        "summary": "Create team",
        "description": "Create a team in the API key organization. Do not send organizationId in the body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTeamRequest"
              },
              "examples": {
                "default": {
                  "summary": "Request body",
                  "value": {
                    "name": "Falcons U14",
                    "footballType": "flag",
                    "ageGroup": "14u",
                    "gender": "male"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Team created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": {
                        "_id": "66f0a1b2c3d4e5f678901234",
                        "name": "Falcons U14",
                        "footballType": "flag",
                        "ageGroup": "14u",
                        "gender": "male",
                        "isArchived": false,
                        "logoUrl": "https://cdn.example.com/logos/falcons.png",
                        "organizationId": "66f0a1b2c3d4e5f678901111",
                        "createdAt": "2026-09-01T12:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/blitz-api/teams/{teamId}": {
      "get": {
        "operationId": "getTeam",
        "tags": [
          "Teams"
        ],
        "summary": "Get team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": {
                        "_id": "66f0a1b2c3d4e5f678901234",
                        "name": "Falcons U14",
                        "footballType": "flag",
                        "ageGroup": "14u",
                        "gender": "male",
                        "isArchived": false,
                        "logoUrl": "https://cdn.example.com/logos/falcons.png",
                        "organizationId": "66f0a1b2c3d4e5f678901111",
                        "createdAt": "2026-09-01T12:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateTeam",
        "tags": [
          "Teams"
        ],
        "summary": "Update team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTeamRequest"
              },
              "examples": {
                "default": {
                  "summary": "Request body",
                  "value": {
                    "name": "Falcons U14 Elite"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Team updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": {
                        "_id": "66f0a1b2c3d4e5f678901234",
                        "name": "Falcons U14 Elite",
                        "footballType": "flag",
                        "ageGroup": "14u",
                        "gender": "male",
                        "isArchived": false,
                        "logoUrl": "https://cdn.example.com/logos/falcons.png",
                        "organizationId": "66f0a1b2c3d4e5f678901111",
                        "createdAt": "2026-09-01T12:00:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteTeam",
        "tags": [
          "Teams"
        ],
        "summary": "Delete team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Team deleted or left",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "message": "Team deleted successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/blitz-api/teams/{teamId}/players": {
      "get": {
        "operationId": "listPlayers",
        "tags": [
          "Players"
        ],
        "summary": "List players",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Players listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayersListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": [
                        {
                          "_id": "66f0a1b2c3d4e5f678901345",
                          "name": "Alex Johnson",
                          "email": "alex@example.com",
                          "position": [
                            "QUARTERBACK"
                          ],
                          "jerseyNumber": "10",
                          "profilePicture": "https://cdn.example.com/players/alex.jpg"
                        }
                      ],
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createPlayer",
        "tags": [
          "Players"
        ],
        "summary": "Create player",
        "description": "Create a single player. Requires header idem-key (or Idempotency-Key): a client-generated unique string for this create intent. Reusing a key that already created a player returns 409 Conflict and does not create a duplicate. Generate a new key for every new player. See Concepts \u2192 Idempotency key.",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          },
          {
            "name": "idem-key",
            "in": "header",
            "required": true,
            "description": "Client-generated unique string for this create intent (UUID recommended). Also accepted as Idempotency-Key. Same key reused after a successful create \u2192 409 Conflict (Idempotency key already used). Missing \u2192 400.",
            "schema": {
              "type": "string",
              "example": "550e8400-e29b-41d4-a716-446655440000"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePlayerRequest"
              },
              "examples": {
                "default": {
                  "summary": "Request body",
                  "value": {
                    "name": "Alex Johnson",
                    "email": "alex@example.com",
                    "position": [
                      "QUARTERBACK"
                    ],
                    "jerseyNumber": "10"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Player created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "message": "Players created successfully!"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/blitz-api/teams/{teamId}/players/{playerId}": {
      "get": {
        "operationId": "getPlayer",
        "tags": [
          "Players"
        ],
        "summary": "Get player",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          },
          {
            "name": "playerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": {
                        "_id": "66f0a1b2c3d4e5f678901345",
                        "name": "Alex Johnson",
                        "email": "alex@example.com",
                        "position": [
                          "QUARTERBACK"
                        ],
                        "jerseyNumber": "10",
                        "profilePicture": "https://cdn.example.com/players/alex.jpg"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePlayer",
        "tags": [
          "Players"
        ],
        "summary": "Update player",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          },
          {
            "name": "playerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlayerRequest"
              },
              "examples": {
                "default": {
                  "summary": "Request body",
                  "value": {
                    "name": "Alex J.",
                    "jerseyNumber": "12"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Player updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": {
                        "_id": "66f0a1b2c3d4e5f678901345",
                        "name": "Alex J.",
                        "email": "alex@example.com",
                        "position": [
                          "QUARTERBACK"
                        ],
                        "jerseyNumber": "12",
                        "profilePicture": "https://cdn.example.com/players/alex.jpg"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePlayer",
        "tags": [
          "Players"
        ],
        "summary": "Delete player",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          },
          {
            "name": "playerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Player removed from team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "message": "Player removed successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/blitz-api/seasons": {
      "get": {
        "operationId": "listSeasons",
        "tags": [
          "Seasons"
        ],
        "summary": "List seasons",
        "description": "List available seasons. Use `_id` as `season` when creating a team. Optional filters: year, season name.",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 2026
            },
            "description": "Filter by year"
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "spring",
                "summer",
                "fall",
                "winter"
              ],
              "example": "fall"
            },
            "description": "Filter by season name"
          }
        ],
        "responses": {
          "200": {
            "description": "Seasons listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonsListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": [
                        {
                          "_id": "66f0a1b2c3d4e5f678901789",
                          "year": 2026,
                          "season": "fall"
                        },
                        {
                          "_id": "66f0a1b2c3d4e5f678901790",
                          "year": 2026,
                          "season": "spring"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/blitz-api/schedules": {
      "get": {
        "operationId": "listSchedules",
        "tags": [
          "Schedules"
        ],
        "summary": "List schedules",
        "description": "List schedules across the API key owner's teams in the key organization.\n\nQuery `filter`:\n- `upcoming` (default) \u2014 future schedules that are not live\n- `live` \u2014 in-progress schedules\n\nExamples: `GET /v1/blitz-api/schedules?filter=upcoming` \u00b7 `GET /v1/blitz-api/schedules?filter=live`",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "upcoming (default) = future not live; live = in progress",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "upcoming"
              ],
              "default": "upcoming",
              "example": "upcoming"
            }
          },
          {
            "name": "pageNo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "example": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 10,
              "example": 10
            }
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Search by event title or team name"
          },
          {
            "name": "tournamentId",
            "in": "query",
            "required": false,
            "description": "Filter by tournament id. Repeat for multiple values.",
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439011"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedules listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulesListResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "data": [
                        {
                          "_id": "66f0a1b2c3d4e5f678901456",
                          "eventType": "game",
                          "eventTitle": "Falcons vs Guest Team",
                          "startDate": "2026-10-01",
                          "endDate": "2026-10-01",
                          "teamOneId": "66f0a1b2c3d4e5f678901234",
                          "teamTwoName": "Guest Team",
                          "isActive": false,
                          "createdAt": "2026-09-13T18:00:00.000Z"
                        }
                      ],
                      "total": 1
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createSchedule",
        "tags": [
          "Schedules"
        ],
        "summary": "Create schedule",
        "description": "Create a schedule. Pass `teamId` in the body (not the path).\n\n**WARNING:** If you do not provide a value for a format field, we set a default on our side (eventType=`game`, duration=`30`, matchupFormat=`halves`, teamFormat=`7v7`, booleans=`false`, overtimeType=`unlimited`, endDate=`startDate`+duration). You must still send `teamId`, `startDate`, and `teamTwoName`. If you send a value, we use yours. PATCH does not apply these create defaults.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScheduleRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal create (we fill format fields on our side)",
                  "value": {
                    "teamId": "6917707a0e8f6ee5171235c2",
                    "startDate": "2026-09-17T21:00:00.000Z",
                    "teamTwoName": "Long Island University"
                  }
                },
                "full": {
                  "summary": "Create game with your own format values",
                  "value": {
                    "eventType": "game",
                    "startDate": "2026-09-17T21:00:00.000Z",
                    "endDate": "2026-09-17T21:30:00.000Z",
                    "teamTwoName": "Long Island University",
                    "duration": 30,
                    "matchupFormat": "halves",
                    "teamFormat": "7v7",
                    "isTestGame": false,
                    "enableYardage": false,
                    "isScrimmage": false,
                    "allowZeroYardStart": false,
                    "overtimeType": "unlimited",
                    "teamId": "6917707a0e8f6ee5171235c2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "_id": "66f0a1b2c3d4e5f678901456",
                      "eventType": "game",
                      "eventTitle": "Falcons vs Guest Team",
                      "startDate": "2026-10-01",
                      "endDate": "2026-10-01",
                      "teamOneId": "66f0a1b2c3d4e5f678901234",
                      "teamTwoName": "Guest Team",
                      "createdAt": "2026-09-13T18:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/blitz-api/schedules/{scheduleId}": {
      "get": {
        "operationId": "getSchedule",
        "tags": [
          "Schedules"
        ],
        "summary": "Get schedule detail",
        "description": "Get one schedule by scheduleId. No teamId required; the schedule must belong to a team in the API key organization.",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "description": "Schedule document Mongo `_id` from create or list.",
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439012"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "_id": "66f0a1b2c3d4e5f678901456",
                      "eventType": "game",
                      "eventTitle": "Falcons vs Guest Team",
                      "startDate": "2026-10-01",
                      "endDate": "2026-10-01",
                      "teamOneId": "66f0a1b2c3d4e5f678901234",
                      "teamTwoName": "Guest Team",
                      "createdAt": "2026-09-13T18:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSchedule",
        "tags": [
          "Schedules"
        ],
        "summary": "Update schedule",
        "description": "Update a schedule by scheduleId. Pass teamId in the request body.\n\n**WARNING:** If you do not send a field on PATCH, we leave the existing value unchanged. We do not apply create defaults.",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "description": "Schedule document Mongo `_id` from create or list.",
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439012"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduleRequest"
              },
              "examples": {
                "default": {
                  "summary": "Update schedule",
                  "value": {
                    "eventTitle": "anim iure nam tempor",
                    "eventType": "game",
                    "startDate": "2026-09-17T21:00:00.000Z",
                    "endDate": "2026-09-17T21:51:00.000Z",
                    "teamTwoName": "mona hurley",
                    "duration": 50,
                    "matchupFormat": "quarters",
                    "teamFormat": "7v7",
                    "practiceNote": "n,mn,mn",
                    "isTestGame": false,
                    "fieldSizeInYard": 60,
                    "enableYardage": true,
                    "isScrimmage": true,
                    "allowZeroYardStart": false,
                    "overtimeType": "limited",
                    "overtimeDuration": 5,
                    "teamId": "6917707a0e8f6ee5171235c2"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "_id": "66f0a1b2c3d4e5f678901456",
                      "eventType": "game",
                      "eventTitle": "Falcons vs Guest Team",
                      "startDate": "2026-10-01",
                      "endDate": "2026-10-01",
                      "teamOneId": "66f0a1b2c3d4e5f678901234",
                      "teamTwoName": "Guest Team",
                      "createdAt": "2026-09-13T18:00:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteSchedule",
        "tags": [
          "Schedules"
        ],
        "summary": "Delete schedule",
        "description": "Soft-delete a schedule by scheduleId. Pass teamId as a query parameter.",
        "parameters": [
          {
            "name": "scheduleId",
            "in": "path",
            "required": true,
            "description": "Schedule document Mongo `_id` from create or list.",
            "schema": {
              "type": "string",
              "example": "507f1f77bcf86cd799439012"
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "description": "Team that owns the schedule",
            "schema": {
              "type": "string",
              "example": "66f0a1b2c3d4e5f678901234"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "message": "Schedule deleted successfully!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  }
}
